.content {
    padding: 1em;
}

.header {
    font-weight: bolder;
}

.parking {
    background-color: #eeeeee;
    width: max-content;
    margin-left: 1em;
    padding: 2em;
}

.left-nudge {
    margin-left: 1em;
}

.top-nudge {
    margin-top: 1em;
}