.parking-lots {
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: 0 auto;
}

.parking {
    background-color: #eeeeee;
    width: 100px;
    margin-left: 1em;
    padding: 2em;
}

.header {
    font-size: 2em;
}